/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: Arial, Helvetica, sans-serif, sans-serif;
}

body {
  font-size: 1em/1.5;
  color: rgb(255, 255, 255);
	background: #fff;
}

header {
	text-align: center;  
}

h1 {
	font-size: 2.5em;
	color: rgb(48, 88, 122);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

/* ----- Added by Student ----- */

.disabled {
	color: rgb(189, 189, 189);
  }

span {
	color: rgb(48, 88, 122);
}

.errorLabel {
	color: #ff6363;
}
.errorInput {
	border: 2px solid #ff6363;
}

.errorMessage {
	font-size: .9em;
	text-align: center;
	background: #ff6363;
	border-radius: 3px;
	padding: 5px;
	margin: 6px auto 0 auto;
	color: rgb(255, 255, 255);
	width: 60%;
	display: block;
	position: relative;
  }

  .totalPrice {
	  color: rgb(255, 255, 255);
  }

 /* --------------------------- */ 

form {
	padding: .875em 1.875em 1.875em;
	background: rgb(62, 118, 167);
	border-radius: 5px;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.5em;	
}

legend {
	font-weight: 700;
	padding-top: .8em;
	border-top: 3px solid rgb(48, 88, 122);
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: rgb(231, 243, 255);
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: rgb(241, 240, 240);
	border: 2px solid #acd1e2;
	outline: none;
	border-radius: 3px;
}

input:focus {
	background: #fff;
	border-color: rgb(48, 88, 122);
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: rgb(59, 59, 59);
	padding: .55em 1.25em;
	background: rgb(235, 235, 235);
	margin: 1rem auto;
	cursor: pointer;
	display: block;
	border-radius: 3px;
}

button:hover {
	background: rgb(255, 255, 255);
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.1em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}